# apache binary dir
/httpd/bin
/httpd/cgi-bin
#/httpd/conf
/httpd/error
/httpd/htdocs
/httpd/icons
/httpd/include
/httpd/lib
/httpd/logs
/httpd/manual
/httpd/modules
/httpd/ABOUT_APACHE.txt
/httpd/CHANGES.txt
/httpd/INSTALL.txt
/httpd/LICENSE.txt
/httpd/NOTICE.txt
/httpd/OPENSSL-NEWS.txt
/httpd/OPENSSL-README.txt
/httpd/README.txt

/nginx*/

/db*/
/sql*/
/pgsql*/
/mysql*/
/mariadb*/
/couchdb*/
/postgresql*/

/npm/
/node/
/node*/

/php/
/php5*/
/php7*/
/php8*/
/php.ini

# The Mozilla CA certificate store in PEM format
/cacert.pem

# archives
*.exe
*.zip
*.rar
*.tar
*.gz
*.tar.gz
*.phar

*.sublime-project
*.sublime-workspace